<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444568643371-396tqffhnpdg5sgucfe49t37fe4p2a2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444568643371-396tqffhnpdg5sgucfe49t37fe4p2a2i</string>
	<key>API_KEY</key>
	<string>AIzaSyBCGDZojBEBzjRoWtPDrAGKHAFfvCHgEVs</string>
	<key>GCM_SENDER_ID</key>
	<string>444568643371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawelpawlik.habitsapp</string>
	<key>PROJECT_ID</key>
	<string>habits-app-5d9a0</string>
	<key>STORAGE_BUCKET</key>
	<string>habits-app-5d9a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444568643371:ios:82e424bee97a371e41876e</string>
	<key>DATABASE_URL</key>
	<string>https://habits-app-5d9a0.firebaseio.com</string>
</dict>
</plist>